@font-face {
    font-family: 'Baby blue';
    src: url('../font/babyblue.ttf');
}

body {
    background-image: url("../img/bg_xadrez.png");
    background-repeat: repeat;
    font-family: 'Baby blue','Lucida Console','DejaVu Sans',sans-serif;
    font-size: 18pt;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}
p {
    text-indent: 5%;
    text-align: justify;
}
section {
    padding: 1%;
}
section,footer {
    border-radius: 1.5%;
    padding: 0.4%;
    background-color: #FFF;
}
footer {
    margin-top: 2%;
}
a.linksOrigem {
    color: #00F;
}
.textosGaleria {
    text-align: center;
}
#linkFirefox {
    text-align: center;
}
#linkFirefox a img {
    opacity: 0.5;
}
#linkFirefox a img:hover {
    transition: all 0.6s;
    opacity: 1;
    transform: rotate(360deg);
}
#redesSociais ul li{
    display: inline;
}
.Alerta {
    background-color: pink;
    color: darkred;
} 
/* Para computadores */
@media only screen and (min-width:800px) {
    body {
        margin: 0 20%;
    }
    .linksEmLinha li{
        display: inline;
    }
    #menuDeLinks ul{
        display: flex;
        justify-content: flex-end;
    }
    #menuDeLinks ul li{
        margin: 0 0.5em;
    }
    #menuDeLinks ul li ul{
        display: none
    }
    #menuDeLinks ul li:hover ul{
        display: block;
    }
    #menuDeLinks ul li ul li{
        display: block;
    }
    #logoEarthbound a img {
        opacity: 0.7;
    }
    #logoEarthbound a img:hover{
        opacity: 1;
    }
    #galeriaDeWallpaper img {
        max-width: 20%;
    }
    #galeriaDeWallpaper ul {
        list-style: none;
    }
    #galeriaDeWallpaper ul li {
        display: inline;
        padding: 2%;
    }
    #galeriaDeWallpaper ul li img {
        opacity: 0.7;
    }
    #galeriaDeWallpaper ul li img:hover {
        transition: all 0.3s;
        opacity: 1;
        transform: scale(1.3);
    }
}